# Practical Aim:  Study and Learn List, Tuple, Set and Dictionary.
   ## ID: 20cs093
   ## Name: Parth R. Tandel

GitHub repository link: https://github.com/20cs093/Sem4PIP_pr2.git

### Dictionary
a. Write a Python script to check whether a given key already exists in a dictionary.

b. Write a Python script to merge two Python dictionaries.

c. Write a Python program to sum all the items in a dictionary.

d. Write a Python script to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

e. Write a Python script to concatenate following dictionaries to create a new one.

Sample Dictionary :

    dic1={1:10, 2:20}

    dic2={3:30, 4:40}

    dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
dict1 = {0:'hey', 1:'fruit', 'seven':7, 8:'eight'}
dict2 = {2:20,6:60}
dict3 = {7:49, 9:81, 10:100}
print('dict1 =',dict1)
print('dict2 =',dict2)
print('dict3 =',dict3)

dict1 = {0: 'hey', 1: 'fruit', 'seven': 7, 8: 'eight'}
dict2 = {2: 20, 6: 60}
dict3 = {7: 49, 9: 81, 10: 100}

In [10]:
#a. To check whether a given key already exists in a dictionary.

x = int(input('Enter key to check.'))
print(x, "is present in dict1:", x in dict1)

Enter key to check.4
4 is present in dict1: False

In [14]:
#b. To merge two Python dictionaries.

dict_merge = dict1 | dict2
print('dict_merge =',dict_merge)

dict_merge = {0: 'hey', 1: 'fruit', 'seven': 7, 8: 'eight', 2: 20, 6: 60}

In [18]:
#c. to sum all the items in a dictionary

print('dict3 =', dict3)
s = 0
for i in dict3:
    s = s + dict3[i]
print(s)

dict3 = {7: 49, 9: 81, 10: 100}
230

In [20]:
#d. to add a key to a dictionary

print('dict3 =', dict3)
k = int(input('Enter new key: '))
v = k ** 2
if k in dict3:
    print('Key already present.')
else:
    dict3[k] = v
    print('dict3 =', dict3)

dict3 = {7: 49, 9: 81, 10: 100, 16: 256}
Enter new key: 21
dict3 = {7: 49, 9: 81, 10: 100, 16: 256, 21: 441}

In [21]:
#e. to concatenate following dictionaries to create a new one.

print('dict1 =', dict1)
print('dict2 =', dict2)
print('dict3 =', dict3)
concat = dict1 | dict2 | dict3
print('concat =', concat)

dict1 = {0: 'hey', 1: 'fruit', 'seven': 7, 8: 'eight'}
dict2 = {2: 20, 6: 60}
dict3 = {7: 49, 9: 81, 10: 100, 16: 256, 21: 441}
concat = {0: 'hey', 1: 'fruit', 'seven': 7, 8: 'eight', 2: 20, 6: 60, 7: 49, 9: 81, 10: 100, 16: 256, 21: 441}

### Tuples
a. Write a Python program to create a tuple with different data types.

b. Write a Python program to create a tuple with numbers and print one item.

c. Write a Python program to add an item in a tuple.

d. Write a Python program to convert a tuple to a string.

e. Write a Python program to find the length of a tuple.

In [22]:
#a. to create a tuple with different data types.

tup1 = (10, 9.8, False, 'Hey')
print('tup1 =', tup1)

tup1 = (10, 9.8, False, 'Hey')

In [25]:
#b. to create a tuple with numbers and print one item

tup2 = (0, 1, 8, 27, 64, 125)
print('tup2 =', tup2)
x = int(input('Enter index: '))
print('tup2[{}] ='.format(x), tup2[x])

tup2 = (0, 1, 8, 27, 64, 125)
Enter index: 3
tup2[3] = 27

In [27]:
#c. to add an item in a tuple.

print('Before adding, tup1 =', tup1)
item = int(input('Enter item: '))
tup1 = tup1 + (item,)
print('After adding, tup1 =', tup1)

Before adding, tup1 = (10, 9.8, False, 'Hey')
Enter item: 16
After adding, tup1 = (10, 9.8, False, 'Hey', 16)

In [30]:
#d. to convert a tuple to a string

print('tup1 =', tup1)
print('tup2 =', tup2)

str1 = ''
str2 = ''

str1 = ''.join(map(str,tup1))

for i in tup2:
    str2 = str2 + str(i)

print('tup1 as string =', str1)
print('tup2 as string =', str2)

tup1 = (10, 9.8, False, 'Hey', 16)
tup2 = (0, 1, 8, 27, 64, 125)
tup1 as string = 109.8FalseHey16
tup2 as string = 0182764125

In [31]:
#e. to find the length of a tuple.

print('tup1 =', tup1)
print('tup2 =', tup2)

print(len(tup1))
print(len(tup2))

tup1 = (10, 9.8, False, 'Hey', 16)
tup2 = (0, 1, 8, 27, 64, 125)
5
6

### Set
a. Write a Python program to add member(s) in a set and clear a set

b. Write a Python program to remove an item from a set if it is present in the set.

c. Write a Python program to create an intersection, Union, difference of sets.

d. Write a Python program to find maximum and the minimum value in a set.

e. Write a Python program to find the most common elements and their counts from list, tuple, dictionary.

In [38]:
fruits = {'raspberry', 'peach', 'strawberry', 'papaya', 'cherry', 'cantaloupe', 'tomato'}
cubes = set()
veggies = {'asparagus', 'tomato', 'brocolli', 'green pea', 'papaya'}

print('fruits =', fruits)
print('cubes =', cubes)
print('veggies =', veggies)

fruits = {'cherry', 'tomato', 'peach', 'papaya', 'cantaloupe', 'raspberry', 'strawberry'}
cubes = set()
veggies = {'green pea', 'asparagus', 'tomato', 'papaya', 'brocolli'}

In [39]:
#a.  to add member(s) in a set
 
print('fruits =', fruits)
print('cubes =', cubes)

cubes.update(tup2)
fruits.add('banana')

print("After Update: ")
print('fruits =', fruits)
print('cubes =', cubes)

fruits = {'cherry', 'tomato', 'peach', 'papaya', 'cantaloupe', 'raspberry', 'strawberry'}
cubes = set()
After Update:
fruits = {'cherry', 'tomato', 'peach', 'papaya', 'cantaloupe', 'raspberry', 'strawberry', 'banana'}
cubes = {0, 1, 64, 8, 27, 125}

In [40]:
#a. to clear a set

numbers = {1,2,3,4,5,6,10,85,26,147}
print("Before clear: ", numbers)
numbers.clear()
print("After clear: ", numbers)

Before clear:  {1, 2, 3, 4, 5, 6, 10, 147, 85, 26}
After clear:  set()

In [41]:
#b. to remove an item from a set if it is present in the set.

print('fruits =', fruits)
discard = input('Enter item to remove from fruits: ')
fruits.discard(discard)
print('fruits =', fruits)

fruits = {'cherry', 'tomato', 'peach', 'papaya', 'cantaloupe', 'raspberry', 'strawberry', 'banana'}
Enter item to remove from fruits: strawberry
fruits = {'cherry', 'tomato', 'peach', 'papaya', 'cantaloupe', 'raspberry', 'banana'}

In [43]:
#c. to create an intersection, Union, difference of sets.

print('fruits =', fruits)
print('veggies =', veggies)
print()
intersect = fruits.intersection(veggies)
union = fruits.union(veggies)
diff = fruits.difference(veggies)

print('Fruits eaten as veggies (intersection): ', intersect)
print('All fruits and veggies (union): ', union)
print('Fruits not eaten as veggies (difference): ', diff)

fruits = {'cherry', 'tomato', 'peach', 'papaya', 'cantaloupe', 'raspberry', 'banana'}
veggies = {'green pea', 'asparagus', 'tomato', 'papaya', 'brocolli'}

Fruits eaten as veggies (intersection):  {'tomato', 'papaya'}
All fruits and veggies (union):  {'green pea', 'asparagus', 'tomato', 'cherry', 'peach', 'papaya', 'cantaloupe', 'raspberry', 'banana', 'brocolli'}
Fruits not eaten as veggies (difference):  {'cherry', 'peach', 'cantaloupe', 'raspberry', 'banana'}

In [48]:
#d. to find maximum and the minimum value in a set.

print('cubes =', cubes)

Min = min(cubes)
Max = max(cubes)

print('min = {}\t max = {}'.format(Min,Max))

cubes = {0, 1, 64, 8, 27, 125}
min = 0	 max = 125

In [52]:
#e. to find the most common elements and their counts from list, tuple, dictionary.

l = [1,5,1,8,4,2,1,9,1,1,1,9,6,4]

c = 0
set_l = set(l)
for i in set_l:
    ci = l.count(i)
    if c<ci:
        c = ci
        ele = i
print('l =', l)
print('Most frequent element: {}\tFrequency: {}'.format(ele,c))


t = (8,8,8,2,9,4,8,5,8,7,2,8)

c = 0
set_t = set(t)
for i in set_t:
    ci = t.count(i)
    if c<ci:
        c = ci
        ele = i
print('\nt =', t)
print('Most frequent element: {}\tFrequency: {}'.format(ele,c))


d = {'a':0,'b':2,'c':4,'r':5,'h':8,'i':9,'k':5,'l':3,'g':8,'o':5,'q':5}

c = 0
dvals = list(d.values())
set_d = set(dvals)
for i in set_d:
    ci = dvals.count(i)
    if c<ci:
        c = ci
        ele = i
print('\nd =', d)
print('Most frequent element: {}\tFrequency: {}'.format(ele,c))

l = [1, 5, 1, 8, 4, 2, 1, 9, 1, 1, 1, 9, 6, 4]
Most frequent element: 1	Frequency: 6

t = (8, 8, 8, 2, 9, 4, 8, 5, 8, 7, 2, 8)
Most frequent element: 8	Frequency: 6

d = {'a': 0, 'b': 2, 'c': 4, 'r': 5, 'h': 8, 'i': 9, 'k': 5, 'l': 3, 'g': 8, 'o': 5, 'q': 5}
Most frequent element: 5	Frequency: 4